In [12]:
import pandas as pd
import numpy as np

In [13]:
movies = pd.read_csv("Movie.csv")
movies

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [25]:
movies[movies.rating == 3.0]

      userId             movie  rating
8         16  Toy Story (1995)     3.0
10        22  Toy Story (1995)     3.0
13        31  Toy Story (1995)     3.0
23        80  Toy Story (1995)     3.0
35       114  Toy Story (1995)     3.0
...      ...               ...     ...
8983    7070  GoldenEye (1995)     3.0
8986    7085  GoldenEye (1995)     3.0
8987    7087  GoldenEye (1995)     3.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[2736 rows x 3 columns]

In [28]:
movies[movies.userId == 12]

      userId                               movie  rating
5         12                    Toy Story (1995)     4.0
3728      12             Grumpier Old Men (1995)     3.0
4547      12  Father of the Bride Part II (1995)     2.0
5206      12                         Heat (1995)     3.0
6466      12                      Sabrina (1995)     3.0

In [30]:
len(movies['userId'].unique())

4081

In [34]:
user_movies = movies.pivot(index='userId', columns='movie', values = 'rating').reset_index(drop=True)

In [35]:
user_movies

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
3,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4076,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4077,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4078,NaN,3.0,4.0,5.0,NaN,3.0,1.0,NaN,4.0,NaN
4079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4080,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,4.5,NaN

In [37]:
movies.isnull().sum()

userId    0
movie     0
rating    0
dtype: int64

In [38]:
user_movies.fillna(0, inplace=True)

In [39]:
user_movies

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
3,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4076,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4077,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4078,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
4079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
4080,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0